.portfolio_work {
  width: 100%;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  font-size: .70em;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  margin-bottom: 10px;
}

.portfolio_work:hover {
  -webkit-box-shadow: 2px 4px 5px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 4px 5px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 4px 5px -4px rgba(34, 60, 80, 0.2);
}

.portfolio__category:nth-child(2) {
  font-size: .60em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category:nth-child(2) {
  font-size: .80em;
}

@media only screen and (max-device-width: 1024px) {
  .portfolio__category {
    font-size: .60em;
  }
}
