.works {
  width: 100%;
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  padding-top: 120px;
  color: #6e6e6e;
}

.works__content {
  width: 100%;
}

.works__content_imgs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 80px;
}

.works__content_img {
  min-width: 380px;
  width: 40%;
  max-width: 380px;
  background: #ff5c36;
  display: block;
  margin-right: 10px;
}

.works__content_links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  grid-gap: 10px;
}

.works__content_links > a {
  color: #6e6e6e;
}

.works__content_links > a:hover {
  color: #ff5c36;
}

@media only screen and (max-device-width: 1024px) {
  .works__content_imgs {
    overflow: hidden;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  .works__content_imgs::-webkit-scrollbar {
    width: 0;
  }
}
